In [4]:
print("Hello, world")
print("Ini IHT Python")

Hello, world
Ini IHT Python

In [6]:
print "Hello, world"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello, world")? (<ipython-input-6-fdf4b5cba88a>, line 1)

In [8]:
print("Hello ' world")
print('Hello " world')

Hello ' world
Hello " world

In [13]:
print("Hello\n'world")

Hello
'world

In [15]:
print("""Hello
world""")
print('''Hello
world''')

Hello
world
Hello
world

In [18]:
print("Hello World " + "My Name is Niko")

Hello World My Name is Niko

In [22]:
x = 0.1
print("Hello World "+str(0.1))

Hello World 0.1

In [23]:
x = "ini string"
y = 10
z = 0.1

In [24]:
type(x)

str

In [25]:
type(y)

int

In [26]:
type(z)

float

In [28]:
todays_date = "05/02/2018"

In [29]:
x = 10
y = 20

In [30]:
x + y

30

In [31]:
x - y

-10

In [32]:
x / y

0.5

In [33]:
x % y

10

In [34]:
x * y

200

In [35]:
x ** 2 # Math.pow(x,2)

100

In [36]:
y ** 3

8000

In [37]:
x = 1000000000000000000000000000000000000

In [46]:
x // 123465912571027106701760176201760

8099

In [48]:
x % 123465912571027106701760176201760

49574087251462822444332941945760

In [49]:
x = 10
y = 20

In [50]:
z = "ini string"

In [52]:
z = z + " tambahan"

In [53]:
z

'ini string tambahan'

In [54]:
x = x + 10
print(x)

20

In [67]:
x+=10 # equals to -> x = x + 10
print(x)

70

In [71]:
x-=10 # x = x - 10
print(x)

30

In [72]:
"""
multi line comment
"""

'\nmulti line comment\n'

In [73]:
x = 10
y = 2.5

In [74]:
x / y

4.0

In [75]:
x = 10
y = 2

In [78]:
x / y

5.0

In [83]:
bool_value1 = True
bool_value2 = False

In [80]:
print(bool_value1)

True

In [81]:
print(bool_value2)

False

In [136]:
skill_completed = "Python Syntax"
exercises_completed = 13 
points_per_exercise = 5
point_total = 100
point_total += (exercises_completed * points_per_exercise)

In [85]:
point_total

165

In [91]:
brian = "Hello \" \nlife!"
write = 'write " things'

SyntaxError: unexpected character after line continuation character (<ipython-input-91-3e6feadad9b3>, line 1)

In [88]:
print(brian)

Hello "
life!

In [106]:
brian[::-1]

'!efil\n " olleH'

In [107]:
len(brian)

14

In [110]:
brian.lower()

'hello " \nlife!'

In [111]:
brian.upper()

'HELLO " \nLIFE!'

In [114]:
adams = "    this is     adams family    "

In [115]:
adams.strip()

'this is     adams family'

In [116]:
adams.lstrip()

'this is     adams family    '

In [117]:
adams.rstrip()

'    this is     adams family'

In [120]:
print(adams + str(x))

    this is     adams family    10

In [121]:
print(" ini define string %s ini integer %d " %(adams,x)) # equals to str.format()

 ini define string     this is     adams family     ini integer 10

In [125]:
print(" ini define string %s ini integer %d " %(x,adams)) # equals to str.format()

TypeError: %d format: a number is required, not str

In [134]:
print(" ini define string {1} ini integer {0:d} ".format(x,adams))

 ini define string     this is     adams family     ini integer 10

In [135]:
my_string = "Any String"
print(len(my_string))
print(my_string.upper())

10
ANY STRING

In [ ]:
# ini contoh di java
class IniJavaClass{
  int 10;
       float 20;
    float 10;
    
    int function_a(int a){
        return a
    }
}

In [143]:
class IniJavaClass:
    pass

In [144]:
if True:
    print("Ini True")
    print("Ini sesudah true")
elif False:
    print("Ini Kondisi False")
    print("ini sesudah false")
else:
    print("ini Else")
    print("ini setelah else")

Ini True
Ini sesudah true

In [186]:
# if condition

x = input("Masukan nilai x ") # java: System.readln()
x = int(x)
if 10 < x <= 20:
 print("Ini masuk kondisi numerik matematik")
elif x > 21 and x < 30 :
    print("ini masuk kondisi and")
elif x==5:
    print("ini masuk kondisi equals 5")
elif x < 0 or x > 100:
    print("ini masuk kondisi or")
elif x > 5:
    print("Ini True")
    print("Ini sesudah true")
elif x < 3:
    print("Ini Kondisi False")
    print("ini sesudah false")
else:
    print("ini Else")
    print("ini setelah else")

Masukan nilai x 10
Ini True
Ini sesudah true

In [162]:
2 < x <= 5

True

In [168]:
print(None)

None

In [184]:
# ini function
def compute_grade(grade_num:int):
    """
    Ini dokumentasi python
    """
    if grade_num > 90:
        return "A"
    elif grade_num > 80:
        return "B"
    else:
        return "C"

In [187]:
print(compute_grade(50.5))

C

In [185]:
?compute_grade

In [188]:
list_1 = []

In [191]:
print(type(list_1))
print(type(x))

<class 'list'>
<class 'int'>

In [194]:
list_2 = list()

In [196]:
print(type(list_2))

<class 'list'>

In [197]:
string_var = "ini adalah sebuah string" + "ini string kedua"

In [200]:
string_var[2] = "o"

TypeError: 'str' object does not support item assignment

In [209]:
list_1.append(4.0)

In [210]:
print(list_1)

['1', '2', 3, 4.0]

In [211]:
len(list_1)

4

In [214]:
list_1[1] = "ini string 2"

In [215]:
print(list_1)

['1', 'ini string 2', 3, 4.0]

In [216]:
list_1_palsu = list_1

In [217]:
list_1_palsu

['1', 'ini string 2', 3, 4.0]

In [218]:
list_1_palsu[0] = "ini satu"

In [219]:
list_1_palsu

['ini satu', 'ini string 2', 3, 4.0]

In [220]:
list_1

['ini satu', 'ini string 2', 3, 4.0]

In [221]:
list_1_lagi = list_1.copy()

In [222]:
list_1_lagi[0] = 1

In [223]:
list_1

['ini satu', 'ini string 2', 3, 4.0]

In [224]:
list_1_lagi

[1, 'ini string 2', 3, 4.0]

In [225]:
len(list_1)

4

In [226]:
nilai_pop = list_1_lagi.pop()

In [227]:
print(nilai_pop)

4.0

In [228]:
nilai_pop_queue = list_1_lagi.pop(0)

In [229]:
print(nilai_pop_queue)

1

In [231]:
list_1_lagi.append("12")

In [232]:
list_1_lagi.append("34")

In [233]:
list_1_lagi

['ini string 2', 3, '12', '34']

In [234]:
list_1_lagi.pop(2)

'12'

In [235]:
list_1_lagi

['ini string 2', 3, '34']

In [236]:
list_1_lagi.append([4,5,6,7])

In [237]:
list_1_lagi

['ini string 2', 3, '34', [4, 5, 6, 7]]

In [238]:
list_1_lagi.extend([8,9,10,11,12])

In [239]:
list_1_lagi

['ini string 2', 3, '34', [4, 5, 6, 7], 8, 9, 10, 11, 12]

In [241]:
list_1_lagi

['ini string 2', 3, '34', [4, 5, 6, 7], 8, 9, 10, 11, 12]

In [242]:
list_2_lagi = list_1_lagi.copy()

In [243]:
list_1_lagi

['ini string 2', 3, '34', [4, 5, 6, 7], 8, 9, 10, 11, 12]

In [244]:
list_2_lagi

['ini string 2', 3, '34', [4, 5, 6, 7], 8, 9, 10, 11, 12]

In [248]:
x = zip(list_1_lagi,list_2_lagi)

In [249]:
for k1,k2 in x: # iter.next()
    print("{} {}".format(k1,k2))

ini string 2 ini string 2
3 3
34 34
[4, 5, 6, 7] [4, 5, 6, 7]
8 8
9 9
10 10
11 11
12 12

In [250]:
dict_1 = {}

In [251]:
type(dict_1)

dict

In [252]:
dict_2 = dict()

In [253]:
type(dict_2)

dict

In [254]:
dict_1["index1"] = 1

In [255]:
dict_1

{'index1': 1}

In [256]:
dict_1[4] = 4

In [257]:
dict_1

{'index1': 1, 4: 4}

In [259]:
dict_1["4"] = "empat"

In [260]:
dict_1

{'index1': 1, 4: 4, '4': 'empat'}

In [261]:
dict_1["4"]

'empat'

In [262]:
dict_1[4]

4

In [263]:
dict_1["tidak ada"]

KeyError: 'tidak ada'

In [264]:
dict_1.keys()

dict_keys(['index1', 4, '4'])

In [270]:
"4" in dict_1.keys()

True

In [267]:
10 in [1,2,3,4,5,6,7,8,9]

False

In [274]:
list_1_lagi[list_1_lagi.index([10])]

ValueError: [10] is not in list

In [279]:
list_1_lagi[::-1]

[12, 11, 10, 9, 8, [4, 5, 6, 7], '34', 3, 'ini string 2']

In [282]:
print(dict_1)
print(dict_1.keys())

{'index1': 1, 4: 4, '4': 'empat'}
dict_keys(['index1', 4, '4'])

In [284]:
print(dict_1.values())

dict_values([1, 4, 'empat'])

In [285]:
dict_1.items()

dict_items([('index1', 1), (4, 4), ('4', 'empat')])

In [287]:
for key,value in dict_1.items():
    print("{} {}".format(key,value))

index1 1
4 4
4 empat

In [289]:
tuple_1 = ("content1","content2","content3")
tuple_2 = tuple()

In [295]:
tuple_2 = tuple_1

In [296]:
tuple_2

('content1', 'content2', 'content3')

In [297]:
unordered_list = [1,215,16,161,621,2174,42171,71,25,12361,621,43,32,4126,3161,62]

In [300]:
sorted(unordered_list,reverse=True)

[42171, 12361, 4126, 3161, 2174, 621, 621, 215, 161, 71, 62, 43, 32, 25, 16, 1]

In [301]:
unordered_list_2 = [(5,1),(215,16),(161,621),(2174,42171),(71,25),(12361,621),(43,32),(4126,3161),(62,1)]

In [302]:
sorted(unordered_list_2)

[(5, 1),
 (43, 32),
 (62, 1),
 (71, 25),
 (161, 621),
 (215, 16),
 (2174, 42171),
 (4126, 3161),
 (12361, 621)]

In [304]:
sorted(unordered_list_2,key=lambda x:x[0]/x[1])

[(2174, 42171),
 (161, 621),
 (4126, 3161),
 (43, 32),
 (71, 25),
 (5, 1),
 (215, 16),
 (12361, 621),
 (62, 1)]

In [305]:
#lambda x:x[0]/x[1]
def sesuatu(x):
    return x[0] / x[1]

In [306]:
sorted(unordered_list_2,key=sesuatu)

[(2174, 42171),
 (161, 621),
 (4126, 3161),
 (43, 32),
 (71, 25),
 (5, 1),
 (215, 16),
 (12361, 621),
 (62, 1)]

In [308]:
sesuatu2 = lambda x:x[0]/x[1]

In [309]:
sesuatu2

In [310]:
sesuatu

In [311]:
sorted(unordered_list_2,key=sesuatu2)

[(2174, 42171),
 (161, 621),
 (4126, 3161),
 (43, 32),
 (71, 25),
 (5, 1),
 (215, 16),
 (12361, 621),
 (62, 1)]

In [312]:
for(int i =0;i<10;i++){
    
}

SyntaxError: invalid syntax (<ipython-input-312-983130734b3e>, line 1)

In [314]:
range(0,10)

range(0, 10)

In [315]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [316]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [317]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [318]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [321]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [324]:
list_2 = []
for x in range(10):
    print(x**2)
    list_2.append(x**2)

0
1
4
9
16
25
36
49
64
81

In [325]:
list_2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [326]:
list_3 = [x**2 for x in range(10)]

In [341]:
[print(x) for x in range(10)]

0
1
2
3
4
5
6
7
8
9

[None, None, None, None, None, None, None, None, None, None]

In [327]:
list_3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [335]:
[x**2 for x in range(20) if x % 2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [334]:
x = 2
"satu" if x == 1 else "yang lain"

'yang lain'

In [342]:
for x in range(10):
    print(x**2)
    #if x == 8:
    #    break
else:
    print(x)

0
1
4
9
16
25
36
49
64
81
9

In [343]:
x

9

In [347]:
x=0
while x < 10:
    print(x**2)
    x+=1
else:
    print(x)

0
1
4
9
16
25
36
49
64
81
10

In [354]:
test_case = {"case1": lambda x,y: x*y,"case2": lambda x: x/2, "case3": lambda x: x-2}

In [357]:
test_case["case1"](10,11)

110

In [351]:
test_case["case2"](10)

5.0

In [362]:
for x in list_1:
    print(x)

ini satu
ini string 2
3
4.0

In [363]:
ini_satu = 1 # iniSatu = 1
kalau_yang_ini_dua = 2 # kalauYangIniDua

In [366]:
def a_kali_b(param_a=10,param_b=20):
    return param_a*param_b

In [369]:
int a_kali_b(int a, float b){
    a
}
int a_kali_b(float a, int b){
    b
}

SyntaxError: invalid syntax (<ipython-input-369-e0ca92bf8c09>, line 1)

In [367]:
a_kali_b(5,10)

50

In [368]:
a_kali_b()

200

In [370]:
a_kali_b(7)

140

In [372]:
a_kali_b(param_b=20)

200

In [373]:
class IniClassJava{
    int java = 0;
    void IniClassJava(int java){
        this.java = java
    }
}

SyntaxError: invalid syntax (<ipython-input-373-2183b630553f>, line 1)

In [490]:
class IniClassJava(object):
    """
    Ini Class Java
    Class ini adalah class yang merepresentasikan objek one to one dengan java
    
    class IniClassJava{
    int java = 0;
    void IniClassJava(int java){
        this.java = java
    }
    """
    #java = 0
    def __init__(self,java=0):
        self._java = java
    
    @property
    def java(self):
        return self._java
    
    @java.setter
    def java(self,java):
        self._java = java
        
    def print_java(self):
        print(self.java)
                
    def multiply_java(self,num):
        return self.java * num

In [491]:
class IniClassTurunan(IniClassJava):
    def print_java(self):
        IniClassJava.print_java(self)
        print("ini dari turunan: {}".format(self.java))
        IniClassTurunan
    
    def multiply_java(self,num):
        return {"in1": self.java * num , "in2": self.java / num , "in3": self.java - num, "in4": range(self.java,num)}

In [492]:
class ClassParent2(object):
    def multiply_test(self):
        return self.java * 5

In [493]:
class IniClassTurunan(IniClassJava,ClassParent2):
    pass

In [494]:
IniClassTurunan(10).multiply_test()

50

In [466]:
contoh = IniClassJava()

In [467]:
print(contoh.java)
contoh.java = 10
print(contoh.java)
print(contoh.print_java())
print(contoh.multiply_java(2))

0
10
10
None
20

In [468]:
contoh2 = IniClassJava(2)

In [469]:
turunan = IniClassTurunan(10)

In [470]:
turunan.java

10

In [471]:
turunan.print_java()

10
ini dari turunan: 10

In [478]:
output = turunan.multiply_java(30)
print(output)

{'in1': 300, 'in2': 0.3333333333333333, 'in3': -20, 'in4': range(10, 30)}

In [479]:
for x in output["in4"]:
    print(x)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [453]:
output[1]

5.0

In [442]:
output[2]

8